Repository Popup-Meeting-Rooms-Project/Backend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint, npm run sql

Add missing husky script
  .husky/_/husky.sh
Due: none

Add missing dep git-hooks, remote empty comment
  package-lock.json
  package.json
  server.js
Due: npm run format, npm run lint

Update crlf to lf
  package-lock.json
  package.json
Due: none

SQL query sorted, change from room_number to room_name
  Create Tables and Data in MariaDB.sql
  src/db/dal.js
  src/mqtt/mqttClient.js
Due: npm run format, npm run lint, npm run sql

Add /lf rule to Prettier, npm script for git-hooks
  .prettierrc
  package-lock.json
  package.json
Due: none

pulling
  js_files/db/dal.js
Due: npm run format, npm run lint

Added update for roomsList on event
  js_files/db/dal.js
  js_files/sse/sse.js
  package-lock.json
Due: npm run format, npm run lint

Revert main branch
  .eslintrc.json
  .github/workflows/linter.yml
  .husky/_/husky.sh
  .husky/pre-commit
  .lintstagedrc.json
  .prettierrc
  Create Tables and Data in MariaDB.sql
  README.md
  js_files/config.js
  js_files/mqtt/mqttClient.js
  js_files/server.js
  js_files/sse/api.js
  package-lock.json
  package.json
  placeholderdata.json
  placeholderdata2.json
  server.js
  src/config/config.js
  src/db/dal.js
  src/mqtt/mqttClient.js
  src/sse/api.js
  src/sse/sse.js
Due: npm run format, npm run lint, npm run sql

Remove unnecessary files
  js_files/db/dal.js
  js_files/sse/sse.js
  package-lock.json
Due: npm run format, npm run lint

Resolve main branch inconsistencies
  package-lock.json
  package.json
  src/db/dal.js
  src/sse/sse.js
Due: npm run format, npm run lint

Last friday's changes
  src/db/dal.js
  src/sse/sse.js
Due: npm run format, npm run lint

Fix endpoints /w Teachers
  src/db/dal.js
  src/sse/sse.js
Due: npm run format, npm run lint

Fix package-lock.json
  package-lock.json
Due: none

update project
  src/db/dal.js
  src/sse/sse.js
Due: npm run format, npm run lint

message.json
  src/sse/sse.js
Due: npm run format, npm run lint

Small fixes with formatting.
  src/sse/sse.js
Due: npm run format, npm run lint

update mqtt
  src/config/config.js
Due: npm run format, npm run lint

update mqtt 2
  src/config/config.js
  src/mqtt/mqttClient.js
Due: npm run format, npm run lint

trying json embedded architecture
  src/db/dal.js
  src/sse/api.js
  src/sse/sse.js
Due: npm run format, npm run lint

Update documentation
  README.md
  src/db/dal.js
Due: npm run format, npm run lint

sseReg
  src/sse/sse.js
Due: npm run format, npm run lint

git update
  src/sse/sse.js
Due: npm run format, npm run lint

change buildingfloor
  src/sse/sse.js
Due: npm run format, npm run lint

building_floor
  src/sse/sse.js
Due: npm run format, npm run lint

building floor
  src/sse/sse.js
Due: npm run format, npm run lint

building commit
  src/sse/sse.js
Due: npm run format, npm run lint

debug
  src/sse/sse.js
Due: npm run format, npm run lint

debug 2
  src/db/dal.js
  src/sse/sse.js
Due: npm run format, npm run lint

debug
  src/db/dal.js
Due: npm run format, npm run lint

Create LICENSE
  LICENSE
Due: none

fix sqlfluff parsing error
  Create Tables and Data in MariaDB.sql
Due: npm run sql

Disable sqlfluff
  .github/workflows/linter.yml
Due: none

Update documentation
  README.md
Due: npm run format

Remove unnecessary files
  TODO
Due: none

Path conditions:
  npm run format: any of: *.{js,md}
  npm run lint: any of: *.js
  npm run sql: any of: *.sql
